---
import Layout from "../layouts/Layout.astro";
import '../styles/global.css';
---

<Layout>
  <section class="h-full w-full flex items-center justify-center bg-section-3 px-4">
    <main class="w-full max-w-xl flex flex-col items-center justify-center text-center space-y-6">
      <h1 class="hero-heading text-primary dark:text-primary-dm">
        Oops! Page Not Found
      </h1>
      <p class="global-text text-lg">
        The page you're looking for doesn't exist or may have been moved.
      </p>
      <a href="/" class="btn-primary max-w-xs w-full">
        Go Back Home
      </a>
    </main>
  </section>
</Layout>