---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/layout/Header.astro';
import Footer from '../../components/layout/Footer';

import '../../styles/global.css';
import { ChevronRight } from 'lucide-react';

// Gallery grid //
import GalleryGrid from '../../components/ui/galleryGrid';
import { getAllMedia } from "../../lib/media";
const media = await getAllMedia();

// i18n Settings  //
import { useLang } from '../../hooks/useLang';
import { useLangPageTexts } from '../../hooks/useLangPageText';
import { useTranslations } from '../../hooks/useTranslations';
import { getStaticPaths } from '../../i18n/utils/i18n';
import { galleryTexts as enGalleryTexts } from '../../i18n/en/gallery';
import { galleryTexts as esGalleryTexts } from '../../i18n/es/gallery';
import type { LangTypes } from '../../i18n/utils/types';

export { getStaticPaths };

const galleryTextsByLang = {
    en: enGalleryTexts,
    es: esGalleryTexts,
};

// @ts-ignore
const texts = useLangPageTexts<LangTypes>(Astro, galleryTextsByLang);
// @ts-ignore
const lang = useLang(Astro);
const t = useTranslations(texts);
---

<Layout lang="{lang}">
  <head>
      <title>{t('title')}</title>
  </head>
  <Header lang={lang} />
  <section class="w-full pt-20 pb-0 max-w-7xl mx-auto">
    <h2 class="global-section-text mb-8 text-center">
      {texts.title}
    </h2>
    <!-- breadcrumb -->
    <div class="breadcrumb">
      <span> Gallery </span>
      <ChevronRight className="mx-2 h-6" />
    </div>
  </section>

  <section class="w-full h-3/4 pt-0 mb-4 max-w-7xl mx-auto">
    <div>
      <GalleryGrid images={media} client:load/>
    </div>
  </section>
  <Footer client:load />
</Layout>