---
import Layout from '../../layouts/Layout.astro';
import '../../styles/global.css';

// i18n Settings  //
import { getLangFromUrl, getStaticPaths } from '../../i18n/utils/i18n';
import { servicesTexts as enServicesTexts } from '../../i18n/en/services';
import { servicesTexts as esServicesTexts } from '../../i18n/es/services';
import Header from '../../components/layout/Header.astro';

export { getStaticPaths };

const url = new URL(Astro.url);
const lang = getLangFromUrl(url);

const servicesTextsByLang = {
    en: enServicesTexts,
    es: esServicesTexts,
};
const texts = servicesTextsByLang[lang] || enServicesTexts;
---

<Layout>
  <head>
    <title> {texts.title} </title>
  </head>
  <Header lang={lang} />
  <section class="w-full pt-20 px-4">

    <h2
      class="global-section-text mb-8 text-center"
      transition:name="title-services"
    >
      {texts.subtitle}
    </h2>

  </section>
</Layout>