---
import AboutImage from './About';

// Dinamic Routes  //
import { getDefaultLang } from '../../../i18n/utils/i18n';

const url = new URL(Astro.request.url);
const path = url.pathname.split('/');
let lang = path[1];

if (!lang || lang.length !== 2) {
  lang = getDefaultLang();
}

// i18n Settings (props) //
export interface Props {
  texts: {
    [key: string]: string;
  }
}

const { texts } = Astro.props;
---

  <div class=" max-w-7xl mx-auto px-4 flex flex-col md:flex-row items-center gap-10">
    <!-- Imagen Reactiva -->
    <div class="hidden md:block">
      <AboutImage client:load lang={lang} />
    </div>
    <!-- Texto estático -->
    <div class="w-full md:w-3/4 md:text-left text-center">
      <h2 class="global-section-text">
        {texts.title}
      </h2>
      <p class="global-text mb-6">
        {texts.description}
      </p>
    </div>
  </div>