---
import WaveSeparator from '../../ui/WaveSeparator';

// Dinamic Routes  //
import { getDefaultLang } from '../../../i18n/utils/i18n';
import FormSlice from '../../ui/Form';
const url = new URL(Astro.url);
const path = url.pathname.split('/');
let lang = path[1];

if (!lang || lang.length !== 2) {
    lang = getDefaultLang();
}

// i18n Settings (props) //
export interface Props {
    texts: {
        [key: string]: string;
    }
}

const { texts } = Astro.props;
---

<section class="h-full bg-cover bg-center bg-fixed" style={{ backgroundImage: "url('/hero-pool.jpg')" }}>
    <div class="absolute inset-0 bg-black/40 z-0" />
        <div class="relative max-w-7xl mx-auto grid md:grid-cols-8 gap-8 px-4 pt-8">
            {/* Contenido principal */}
            <div class="flex flex-col justify-center md:col-span-5 text-white">
                <h1 class="hero-heading opacity-0 animate-fadeInUp">
                    {texts.title}
                </h1>
                <h1 class="hero-subheading opacity-0 animate-fadeInUpDelay">
                    {texts.title_2}
                </h1>
                <div class="py-2 px-30 hidden md:block opacity-0 animate-fadeInUpDelay">
                    <button class="btn-primary w-1/2">
                        {texts.button_cta}
                    </button>
                </div>
            </div>
            {/* Formulario */}
            <div class=" md:col-span-3" transition:name="form" >
                <FormSlice client:load lang={lang}  />
            </div>
        </div>
    </div>

    {/* Separador ondulado abajo */}
    <WaveSeparator client:load />

</section>