---
import Layout from '../../../../layouts/Layout.astro';
import FormSlice from '../../../../components/ui/Form';

// i18n Settings  //
import { useTranslations } from '../../../../hooks/useTranslations';
import { getLangFromUrl, getStaticPaths } from '../../../../i18n/utils/i18n';
import { quoteTexts as enQuoteTexts } from '../../../../i18n/en/get-quote';
import { quoteTexts as esQuoteTexts } from '../../../../i18n/es/get-quote';

export { getStaticPaths };

const url = new URL(Astro.url);
const lang = getLangFromUrl(url);

const quoteTextsByLang = {
    en: enQuoteTexts,
    es: esQuoteTexts,
};
const texts = quoteTextsByLang[lang] || enQuoteTexts;
const t = useTranslations(texts);

---

<Layout>
    <h1 class="text-3xl font-bold text-center mt-10">{t('title')}</h1>
    <FormSlice client:load lang={lang}  />
</Layout>

